
// FONT VARIABLES
$font-primary: 'Cabin', sans-serif;
$font-secondary: sans-serif;

// BREAKPOINTS
$bp-phone: 20em;
$bp-phone-m: 23.4375em;
$bp-phone-l: 26.5625em;
$bp-tablet: 48em;
$bp-laptop: 64em;
$bp-desktop: 93.75em;

$container-padding: 8.4rem;
// $container-padding: 9.4%;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $font-primary;
}


.icon {
    display: inline-block;
}

.btn,
.btn:focus,
.btn:active,
 input {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.img {
    width: 100%;
    height: auto;
}