// NAV MENU
.nav {
    color: $color-white;
    position: absolute;
    padding: 2.5rem;
    width: 100%;
    z-index: 10;

    &__menu {
        display: flex;

    }

    &__item {
        cursor: pointer;
    }
}

// MAIN CONTAINER
// .container {

// }

// HEADER (HERO)

.header {
    position: relative;

    &__container {
        display: flex;
        flex-direction: row;
        color: $color-white;
        padding: $container-padding;
    }

    &__back {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    // &__right {}

    &__form {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon-map {
        width: 19px;
        height: 24.85px;
        fill: $color-primary;
        z-index: 3;
        position: absolute;
        left: 1.65rem;
    }

    $input-width: 29.6875rem;
    &__input {
        width: $input-width;
        // width: 80%;
        height: 3.875rem;
        border-radius: 31px;
        border: none;
        padding: 0 4rem;
        font-family: inherit;
        font-size: 1.1875rem;
        color: $color-blue-dark;

        position: absolute;
        left: 0;

        &::placeholder {
            color: $color-gray-light-3;
        }
    }

    $button-width: 5.5rem;
    &__search-button {
        display: inline-block;
        background-color: $color-primary;
        border-radius: 50px;
        border: none;
        height: 3.375rem;
        width: $button-width;
        transition: all .2s;

        z-index: 3;
        margin-left: $input-width - $button-width - .3rem;

        &:active {
            filter: brightness(98%);
            transform: scale(.95);
        }
    }
    &__icon-search {
        width: 31.05px;
        height: 30.45px;
        fill: $color-white;
    }

    &__paragraph {
        margin-bottom: 3.625rem;
    }
}