// NAV MENU
.nav {
    color: $color-white;
    font-size: 1.125rem;
    position: absolute;
    padding: 2.68% $container-padding;
    width: 100%;
    z-index: 10;

    &__menu {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__icon {
        width: 1.625rem;
        height: 2.125rem;
        margin-right: 6.8px;
        fill: $color-white;
    }

    &__item {
        cursor: pointer;
        transition: all .2s;
        padding: 1rem .21rem;

        &:hover {
            color: $color-primary;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

}

// MAIN CONTAINER
// .container {

// }

// HEADER (HERO)

.header {
    position: relative;
    background-image: url("../img/wave-hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2.9rem;

    &__container {
        display: flex;
        flex-direction: row;
        color: $color-white;
        padding: calc(#{$container-padding} + 9.3vh) $container-padding $container-padding*2-5% $container-padding;
        justify-content: space-between;

    }

    &__title {
        margin-bottom: 2.6rem;
    }

    &__left {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
        margin-top: -.9rem;
    }


    &__right {
        flex-shrink: 0;
        flex-basis: 50%;
        margin-top: -0.7rem;
    }

    &__img {
        margin-left: -0.9rem;
        width: 110%;
    }

    &__form {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon-map {
        width: 20px;
        margin-left: 0.2rem;
        fill: $color-primary;
        z-index: 3;
        position: absolute;
        left: 1.65rem;
    }

    // $input-width: 29.6875rem;
    $input-width: 81.2%;
    &__input {
        width: $input-width;
        height: 3.81rem;
        border-radius: 31px;
        border: none;
        padding: 0 4rem;
        font-family: inherit;
        font-size: 1.1rem;
        color: $color-blue-dark;

        position: absolute;
        top: -0.239rem;

        &::placeholder {
            color: $color-gray-light-3;
            padding-left: 0.35rem;
            letter-spacing: 0.034rem;
        }
    }

    $button-width: 5.5rem;
    &__search-button {
        display: inline-block;
        background-color: $color-primary;
        border-radius: 50px;
        border: none;
        height: 3.3rem;
        width: $button-width;
        transition: all .2s;

        z-index: 3;
        margin-left: calc(#{$input-width} - #{$button-width} - .2rem);

        &:active {
            filter: brightness(98%);
            transform: scale(.95);
        }
    }
    &__icon-search {
        width: 31.05px;
        height: 30.45px;
        fill: $color-white;
    }

    &__paragraph {
        margin-bottom: 3.625rem;
    }
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $container-padding - 0.8% $container-padding;

    &__title {
        margin-left: -1.4%;
        margin-bottom: .6rem;
    }

    .h3 {
        margin-left: -1.3%;
    }

    &__img-container {
        display: flex;
        position: relative;
        padding: 10%;
        margin-top: -5.8%;
        margin-left: 0.5%;
    }

    &__img-map {
        width: 100%;
        height: 100%;
        margin-top: -1.6%;
        margin-left: 0.7%;
    }

    &__img-phone {
        width: 65%;
        height: 65%;
        margin-left: -84.7%;
        margin-top: 0.4%;
        transition: filter .6s, transform .6s;
        filter: drop-shadow(1rem 3rem 2rem rgba($color-gray, .9));

        &:hover {
            filter: drop-shadow(1rem 5rem 2.5rem rgba($color-gray, .8));
            transform: translateY(-2rem);
        }
    }
}

.features {

    &__img-start {

    }

    .feature {
        &__text {

        }

        &__distance {

        }
        &__title.h2 {
            color: red;
        }
        &__title.h3 {

        }

        &__img {

        }
    }
}